{
  "presets": ["react-native", "flow"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "cwd": "babelrc",
        "alias": {
          "utils": "./src/utils",
          "SafeContainer": "./src/components/SafeContainer",
          "SwipeRow": "./src/components/SwipeRow"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
