{
  "presets": ["react-native", "flow"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "utils": "./src/utils",
          "SafeContainer": "./src/components/SafeContainer"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
