{
  "parser": "babel-eslint",
  "plugins": ["import", "react", "react-native"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["__tests__/**", "jest-setup.js"]
      }
    ],
    "import/extensions": ["error", { "js": "never" }],
    "no-use-before-define": "off",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "no-undef": "error",
    "react/display-name": "off",
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "off"
  },
  "env": {
    "react-native/react-native": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
