{
  "parser": "babel-eslint",
  "plugins": ["import", "react", "react-native"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["storybook/**"]
      }
    ],
    "import/extensions": ["error", { "js": "never" }],
    "no-use-before-define": ["error", { "variables": false }],
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "no-undef": "error",
    "react/display-name": "off",
  },
  "env": {
    "react-native/react-native": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
